// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@colour-info: #2196f3;
@colour-error: #f44336;
@colour-dark-text: #000;
@colour-primary: #ed4795;
@colour-warning: #ff9800;
@colour-success: #4caf50;
@colour-light-text: #fff;
@colour-secondary: #37acb8;
@colour-primary-dark: #b60067;
@colour-primary-light: #ff7dc5;
@colour-secondary-dark: #007c88;
@colour-secondary-light: #71deea;
@colour-background-default: #000;
@colour-background-paper: #424242;
@colour-dark-subtext: rgba(0, 0, 0, 0.54);
@colour-light-subtext: rgba(255, 255, 255, 0.54);
