<footer id="footer">

    <section class="wrapper style3">
        <div class="title" data-aos="fade-up" data-aos-delay="100">Get In Touch</div>
        <div class="container">
            <p class="align-center" data-aos="fade-left" data-aos-delay="100">Get in touch today to discuss your idea
                or project and get a free quote.</p>
            <div class="media-flex">
                <form id="contact-form">
                    <div class="row">
                        <div class="column" data-aos="fade-right" data-aos-delay="200">
                            <input required type="text" name="name" id="name" value="" placeholder="Name" />
                        </div>
                        <div class="column" data-aos="fade-right" data-aos-delay="300">
                            <input required type="email" name="email" id="email" value="" placeholder="Email" />
                        </div>
                    </div>
                    <textarea required id="message" placeholder="Hey!..." data-aos="fade-right"
                        data-aos-delay="400"></textarea>
                    <input id="logoUrl" style="display: none;" type="text" id="logoUrl" value={{@site.logo}} />
                    <button class="button button-fullwidth button-outline" type="submit" id="contact"
                        data-aos="fade-right" data-aos-delay="500" class="primary">Send</button>
                    <div class="row" data-aos="fade-right" data-aos-delay="600">
                        <div class="column">
                            <span class="recaptcha-disclaimer">
                                This site is protected by reCAPTCHA and the Google
                                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                            </span>
                        </div>
                    </div>
                </form>
                <div class="contact-info">
                    <div class="list-item" data-aos="fade-right" data-aos-delay="200">
                        <i class="float-left fas fa-envelope fa-2x"></i>
                        <div class="list-item-content">
                            <h3>Email</h3>
                            <a href="mailto:info@daciatech.com?subject=Website Enquiry"
                                target="_blank">info@daciatech.com</a>
                        </div>
                    </div>
                    <div class="list-item" data-aos="fade-right" data-aos-delay="400">
                        <i class="float-left fab fa-connectdevelop fa-2x"></i>
                        <div class="list-item-content">
                            <h3>Connect</h3>
                            <div class="social">
                                <a href="https://www.facebook.com/daciatech" target="_blank">
                                    <i class="fab fa-facebook fa-2x"></i>
                                </a>
                                <a href="https://www.twitter.com/dacia_tech" target="_blank">
                                    <i class="fab fa-twitter fa-2x"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/dacia-tech/" target="_blank">
                                    <i class="fab fa-linkedin fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <p class="copyright">
        &copy; {{@site.title}}. All rights reserved
        <br />
        Designed and Developed by
        <a href="https://www.daciatech.com" rel="noopener noreferrer" target="_blank">
            Dacia Tech
        </a>
    </p>

</footer>