{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div id="page">
    {{#post}}

    <main class="container" style="background-image: url({{img_url feature_image}})">
    </main>

    <section class="wrapper style3">
        <div class="title">{{title}}</div>
        <div class="content">
            {{content}}
        </div>
    </section>

    <section class="wrapper style2">
        <div class="title">See More</div>
        {{#get "pages" filter="slug:-{{slug}}" limit="3"}}
        {{#foreach pages}}
        {{> "post-card"}}
        <hr>
        {{/foreach}}
        {{/get}}
    </section>

    {{/post}}
</div>