{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div id="tag">
    {{#tag}}

    <main style="background-image: url({{img_url feature_image}})" alt="name">
    </main>

    <section class="wrapper style3">
        <div class="title" data-aos="fade-up" data-aos-delay="100">{{name}}</div>
        <div class="container content">
            {{description}}
        </div>
    </section>

    {{/tag}}

    <section class="wrapper style2">

        <div class="title" data-aos="fade-up" data-aos-delay="100">Posts</div>
        <div class="container">
            <div class="row">
                {{#foreach posts}}
                <div class="column third" data-aos="fade-right" data-aos-delay="{{@index}}00">
                    {{> "post-card"}}
                </div>
                {{/foreach}}
            </div>

        </div>
    </section>

</div>