/* Table of Contents
/* ------------------------------------------------------------

1.  Global Styles
2.  Milligram Overide Styles
3.  Header/Navigation Styles
4.  Footer Styles
5.  Index Styles
6.  Tag Styles
7.  Author Styles
8.  Page Styles
9.  Post Styles
10. Post-card Styles
11. Error Styles
12. Snackbar Styles
13. Custom Component Styles

*/

/* 1. Global - Set up the things
/* ---------------------------------------------------------- */
:root {
  --primary: #ed4795;
  --primary-light: #ff7dc5;
  --primary-dark: #b60067;
  --secondary: #37acb8;
  --secondary-light: #71deea;
  --secondary-dark: #007c88;
  --light-contrast-text: #000;
  --light-contrast-subtext: rgba(0, 0, 0, 0.54);
  --dark-contrast-text: #fff;
  --dark-contrast-subtext: rgba(255, 255, 255, 0.54);
  --error: #f44336;
  --warning: #ff9800;
  --info: #2196f3;
  --success: #4caf50;
  --background-default: #000;
  --background-paper: #424242;
}

html {
  background-color: var(--background-default);
}

body {
  opacity: 0;
  color: var(--dark-contrast-text);
  transition: opacity 0.5s ease-in-out;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-default);
  overflow-x: hidden;
}

body.loaded {
  opacity: 1;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.subtext-dark {
  color: var(--dark-contrast-subtext);
}

.subtext-light {
  color: var(--light-contrast-subtext);
}

pre {
  background-color: var(--background-paper);
}

code {
  color: var(--primary-light);
  background-color: var(--background-paper);
}

a {
  color: var(--primary);
}

.grecaptcha-badge {
  visibility: hidden;
}

main {
  width: 100%;
  height: 20em;
  display: flex;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  background-position-x: center;
  background-position-y: center;
}

main h1 {
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 700;
}

main p {
  font-size: 0.9em;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--dark-contrast-subtext);
}

@media (min-width: 40em) {
  main {
    height: 35em;
  }
}

section.wrapper {
  position: relative;
  padding: 3em 2em 6em 2em;
}

section.wrapper .title {
  left: 50%;
  width: 18em;
  top: -2.5em;
  height: 2.6em;
  display: block;
  font-weight: 700;
  font-size: 0.9em;
  margin-left: -9em;
  line-height: 2.5em;
  position: absolute;
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: -2.5em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

section.wrapper .title:before {
  content: "";
  left: -35px;
  width: 35px;
  height: 15px;
  bottom: -15px;
  position: absolute;
  background-size: 100% 100%;
  background: url("../img/shadow.png");
}

section.wrapper .title:after {
  content: "";
  width: 35px;
  right: -35px;
  height: 15px;
  bottom: -15px;
  position: absolute;
  transform: scaleX(-1);
  background-size: 100% 100%;
  background: url("../img/shadow.png");
}

section.wrapper.style1 {
  color: var(--dark-contrast-text);
  background-color: var(--background-default);
}

section.wrapper.style1 .title {
  color: var(--primary);
  background-color: var(--background-default);
}

section.wrapper.style1 .title:before {
  filter: invert();
}

section.wrapper.style1 .title:after {
  filter: invert();
}

section.wrapper.style2 {
  background-color: var(--primary-dark);
}

section.wrapper.style2 .title {
  color: var(--dark-contrast-text);
  background-color: var(--primary-dark);
}

section.wrapper.style3 {
  background-color: #fff;
  color: var(--light-contrast-text);
}

section.wrapper.style3 .title {
  color: var(--primary);
  background-color: #fff;
}

/* 2. Milligram Overide Styles
/* ---------------------------------------------------------- */

/* row and column enhancements*/
.row {
  flex-wrap: wrap;
}
@media (min-width: 40em) {
  .column.half {
    max-width: 50%;
  }

  .column.third {
    max-width: 33%;
  }
}

/* text input overides and enhancements */

input,
textarea {
  color: var(--light-contrast-text);
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: var(--primary);
  outline: 0;
}

/* button overides and enhancements */

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--dark-contrast-text);
}

.button.button-outline,
button.button-outline,
input[type="button"].button-outline,
input[type="reset"].button-outline,
input[type="submit"].button-outline {
  background-color: transparent;
  color: var(--primary);
}

.button.button-outline.button-white,
button.button-outline.button-white,
input[type="button"].button-outline.button-white,
input[type="reset"].button-outline.button-white,
input[type="submit"].button-outline.button-white {
  color: #fff;
}

.button.button-clear,
button.button-clear,
input[type="button"].button-clear,
input[type="reset"].button-clear,
input[type="submit"].button-clear {
  color: var(--primary);
}

.button-secondary,
input[type="button"].button-secondary,
input[type="reset"].button-secondary,
input[type="submit"].button-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--dark-contrast-text);
}

.button.button-outline.button-secondary,
button.button-outline.button-secondary,
input[type="button"].button-outline.button-secondary,
input[type="reset"].button-outline.button-secondary,
input[type="submit"].button-outline.button-secondary {
  color: var(--secondary);
}

.button.button-clear.button-secondary,
button.button-clear.button-secondary,
input[type="button"].button-clear.button-secondary,
input[type="reset"].button-clear.button-secondary,
input[type="submit"].button-clear.button-secondary {
  color: var(--secondary);
}

.button-small {
  height: 2.8rem;
  font-size: 0.8rem;
  padding: 0 1.5rem;
  line-height: 2.8rem;
}

.button-large {
  height: 4.5rem;
  padding: 0 2rem;
  font-size: 1.4rem;
  line-height: 4.5rem;
}

.button-fullwidth {
  width: 100%;
}

/* 3. Header/Navigation - Customise header and navigation
/* ---------------------------------------------------------- */

#header {
  width: 100%;
  z-index: 100;
  display: flex;
  position: fixed;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

#header.active {
  transform: translateX(275px);
}

#nav-bar {
  display: none;
}

#hamburger-wrapper {
  left: 0;
  width: 54px;
  margin: 6px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 3.5px;
  justify-content: center;
  background-color: rgba(92, 95, 103, 0.5);
}

#hamburger .line {
  width: 25px;
  height: 2.5px;
  display: block;
  margin: 4px auto;
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
}

#hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active {
  transition-delay: 0.6s;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active .line {
  background-color: var(--secondary);
}

#hamburger.is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateY(6px);
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#click-away {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

#click-away.active {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

#navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navigation a {
  height: 6rem;
  line-height: 6rem;
  display: block;
  transition: all 0.3s ease-in-out;
  color: var(--secondary-contrast-text);
}

#navigation a:hover {
  color: var(--primary);
}

#navigation a.active {
  font-weight: 500;
  font-size: 2rem;
  color: var(--primary-dark);
}

#drawer {
  top: 0;
  width: 275px;
  left: -275px;
  z-index: 100;
  height: 100vh;
  display: flex;
  position: fixed;
  padding: 12px 20px;
  transition: transform 0.3s ease-in-out;
  background-color: var(--background-default);
}

#drawer.active {
  transform: translateX(275px);
}

#drawer #navigation {
  width: 100%;
}

#drawer a {
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

#drawer a:hover {
  border-bottom: solid 1px var(--primary-light);
}

#drawer a.active {
  border-bottom: solid 1px var(--primary);
}

@media (min-width: 80em) {
  #nav-bar {
    background-color: transparent;
    top: 2.5em;
    width: 100%;
    height: 0;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
  }

  #nav-bar #navigation {
    flex-direction: row;
    border-radius: 0.35em;
    height: 6rem;
    padding: 0 1.5em 0 1.5em;
    color: var(--light-contrast-text);
    background-color: rgba(255, 255, 255, 0.33);
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  }

  #nav-bar #navigation a {
    padding: 0 1.5em;
  }
}

/* 4. Footer - Customise footer
/* ---------------------------------------------------------- */

#footer {
  background-color: #fff;
  color: var(--light-contrast-text);
}

#footer section.wrapper {
  padding-bottom: 0;
}

#footer .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4em;
}

.recaptcha-disclaimer {
  font-size: 0.75em;
  line-height: -0.5em;
  color: var(--light-contrast-subtext);
}

.copyright {
  margin: 0;
  font-size: 0.75em;
  text-align: center;
  line-height: -0.5em;
  padding-bottom: 10px;
  color: var(--light-contrast-subtext);
}

#contact-form {
  padding-bottom: 1em;
  border-bottom: solid 1px var(--light-contrast-subtext);
}

@media (min-width: 40em) {
  .media-flex {
    display: flex;
  }

  #contact-form {
    width: 50%;
    padding: 0 1em;
    margin-bottom: 2em;
  }

  .contact-info {
    width: 50%;
    padding: 0 1em;
  }

  .contact-info .list-item {
    height: 50%;
  }

  #footer .social {
    padding-right: 0;
  }
}

/* 5. Index - Customise index
/* ---------------------------------------------------------- */

/* #index {
} */

#index .border-emphasis {
  padding: 1.25em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  line-height: 1.25em;
  border-radius: 0.35em;
  letter-spacing: 0.05em;
  color: var(--secondary-light);
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
}

/* 6. Tag - Customise tag
/* ---------------------------------------------------------- */

/* #tag {
} */

/* 7. Author - Customise author
/* ---------------------------------------------------------- */

/* #author {
} */

/* 9. Page - Customise pages
/* ---------------------------------------------------------- */

/* #page {
} */

/* 9. Post - Customise posts
/* ---------------------------------------------------------- */

/* #post {
} */

/* 10. Post-Card - Customise post-cards
/* ---------------------------------------------------------- */

.post-card {
  border-bottom: 1px solid var(--dark-contrast-subtext);
  padding: 1em 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card h3 {
  font-size: 1.15em;
  text-align: center;
  margin: 0 0 0.75em 0;
  letter-spacing: 0.05em;
  color: var(--dark-contrast-text);
}

.post-card p {
  text-align: center;
  font-size: 100%;
  margin: 0 0 0.75em 0;
  letter-spacing: 0.05em;
  color: var(--dark-contrast-subtext);
}

.post-card a img {
  border: solid 10px #fff;
  margin-bottom: 1em;
}

/* 11. Error - Customise error
/* ---------------------------------------------------------- */

/* #error {
} */

/* 12. Snackbar Styles - Customise snackbars
/* ---------------------------------------------------------- */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.error {
  background-color: var(--error);
  color: var(--dark-contrast-text);
}

#snackbar.warning {
  background-color: var(--warning);
  color: var(--dark-contrast-text);
}

#snackbar.info {
  background-color: var(--info);
  color: var(--dark-contrast-text);
}

#snackbar.success {
  background-color: var(--success);
  color: var(--dark-contrast-text);
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* 13. Custom Component Styles
/* ---------------------------------------------------------- */
.list-item {
  padding-bottom: 2em !important;
}

.list-item-content {
  height: 100%;
  text-align: left;
  padding-left: 4em;
  padding-bottom: 2em;
  border-bottom: solid 1px var(--dark-contrast-subtext);
}

.style3 .list-item-content {
  border-bottom: solid 1px var(--light-contrast-subtext);
}

.list-item-content h3 {
  font-size: 1.15em;
}

.list-item-content p {
  font-size: 0.85em;
}
